.titleBar {
	display: flex;
	width: 100%;
	justify-content: space-between;
	box-shadow: 0.3vw 0.3vw .1vw 0vw rgba(0, 0, 0, 1);
	padding: 1rem;
}

.titleBar span {
	color: #7fbbb3;
}

.titleBar a {
	padding: 1rem 2rem;
	background-color: #689e6a;
	font-family: Roboto Slab;
	font-weight: bolder;
	text-decoration: none;
}

.titleBar a:hover {
	background-color: #68936a;
}
