.titleBar {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.titleBar a {
	padding: 1rem 2rem;
	background-color: #689e6a;
	font-family: Roboto Slab;
	font-weight: bolder;
	text-decoration: none;
	border-right: .2rem solid #1f2c20;
	border-bottom: .2rem solid #1f2c20;
}

.titleBar a:hover {
	background-color: #68936a;
}
