:root {
	--fox-width: 500px;
	--fox-height: 500px;
}

.container {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr;
	background-color: #1c1b22;
}

#foxContainer {
	width: var(--fox-width);
	height: var(--fox-height);

	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;

	transition: 1s;
}

#foxFaceBackdrop {
	grid-column: 1/2;
	grid-row: 1/2;

	width: var(--fox-width);
	height: var(--fox-height);

	clip-path: polygon(41% 32%, 59% 32%, 84% 1%, 79% 51%, 90% 76%, 50% 99%, 10% 76%, 21% 51%, 16% 1%);
	background: black;
}

#foxFace {
	grid-column: 1/2;
	grid-row: 1/2;

	width: var(--fox-width);
	height: var(--fox-height);

	clip-path: polygon(40% 37%,
			59% 37%,
			/*Punta oreja derecha*/
			80% 10%,
			74% 51%,
			/*Cachete derecho*/
			85% 75%,
			/*Barbilla*/
			50% 94%,
			/*Cachete izquierdo*/
			15% 75%,
			26% 51%,
			20% 10%);
	background: #ff6332;
}

#foxChin {
	grid-column: 1/2;
	grid-row: 1/2;

	width: var(--fox-width);
	height: var(--fox-height);

	background-color: white;

	clip-path: polygon(15% 75%,
			33% 70%,
			50% 90%,
			68% 70%,
			85% 75%,
			50% 94%);
}

#foxNose {
	grid-column: 1/2;
	grid-row: 1/2;

	width: var(--fox-width);
	height: var(--fox-height);

	background-color: black;

	clip-path: polygon(45.8% 85%, 54.8% 85%, 50% 90%);
}

#leftEar {
	grid-column: 1/2;
	grid-row: 1/2;

	width: var(--fox-width);
	height: var(--fox-height);

	background-color: black;
	clip-path: polygon(23% 18%, 30% 48%, 38% 38%);
}

#rightEar {
	grid-column: 1/2;
	grid-row: 1/2;

	width: var(--fox-width);
	height: var(--fox-height);

	background-color: black;
	clip-path: polygon(77% 18%, 70% 48%, 62% 38%);
}

#rightEye {
	grid-column: 1/2;
	grid-row: 1/2;

	width: var(--fox-width);
	height: var(--fox-height);
	background-color: black;

	clip-path: polygon(35% 58%,
			45% 58%,
			45% 60%,
			35% 60%);
	/* transition: 1s; */
}

#leftEye {
	grid-column: 1/2;
	grid-row: 1/2;

	width: var(--fox-width);
	height: var(--fox-height);
	background-color: black;

	clip-path: polygon(55% 58%,
			65% 58%,
			65% 60%,
			55% 60%);
	/* transition: 1s; */
}

#foxContainer:hover #rightEye {
	clip-path: polygon(45% 60%, 35% 58%, 38% 65%);
}

#foxContainer:hover #leftEye {
	clip-path: polygon(55% 60%, 65% 58%, 62% 65%);
}
