.BlogDetailsContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.BlogDetailsContainer img {
	width: 100%;
}

.DetailsHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
