* {
	box-sizing: border-box;
	margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a,
body,
html {
	background: #2e383c;
	color: whitesmoke;
}

body {
	padding: 2rem;
	width: 100vw;
	height: 100vh;
}

#root {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

h1 {
	font-family: 'Jura';
	font-size: 3rem;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: 'Ledger';
}

h2 {
	font-size: 2rem;
}

p {
	font-family: 'Roboto Slab';
}

.ErrorText {
	color: red;
	font-weight: bold;
}

.PrimaryButton {
	padding: 1rem 2rem;
	background-color: #689e6a;
	font-family: Roboto Slab;
	font-size: 1rem;
	font-weight: bolder;
	text-decoration: none;
	border-width: 0;
}

.PrimaryButton:hover {
	background-color: #68936a;
}

.SecondaryButton {
	padding: 1rem 2rem;
	background-color: transparent;
	font-family: Roboto Slab;
	font-size: 1rem;
	font-weight: bolder;
	text-decoration: none;
	border-width: .2rem;
	border-color: #689e6a;
}

.SecondaryButton:hover {
	border-color: #68936a;
}

.NegativeButton {
	background-color: #b86566;
}

.NegativeButton:hover {
	background-color: #a1585a;
}

.InfoButton {
	background-color: #66968f;
}

.InfoButton:hover {
	background-color: #59837d;
}

@font-face {
	font-family: Jura;
	src: local('Jura'), url(./fonts/Jura/static/Jura-Regular.ttf)
}

@font-face {
	font-family: Ledger;
	src: local('Ledger'), url(./fonts/Ledger/Ledger-Regular.ttf)
}

@font-face {
	font-family: Roboto Slab;
	src: local('Roboto Slab'), url(./fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf)
}
