#rightEye {
	grid-column: 1/2;
	grid-row: 1/2;

	/* width: var(--fox-width); */
	/* height: var(--fox-height); */
	background-color: black;

	clip-path: polygon(35% 58%,
			45% 58%,
			45% 60%,
			35% 60%);
	transition: all 1s;
}

#leftEye {
	grid-column: 1/2;
	grid-row: 1/2;

	/* width: var(--fox-width); */
	/* height: var(--fox-height); */
	background-color: black;

	clip-path: polygon(55% 58%,
			65% 58%,
			65% 60%,
			55% 60%);
	transition: 1s;
}

#foxContainer:hover #rightEye {
	clip-path: polygon(45% 60%, 35% 58%, 38% 65%);
}

#foxContainer:hover #leftEye {
	clip-path: polygon(55% 60%, 65% 58%, 62% 65%);
}
