.titleAndTwoColumnsContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"title title"
		"c1 c2";
	column-gap: 1rem;
}

.titleAndTwoColumnsContainer_title {
	grid-area: title;
}
